/Users/dtdoering/3 Code/Data Analysis/GrowthCurveAnalysis_DD2.R
/Users/dtdoering/3 Code/Data Analysis/GrowthCurveAnalysis.R
/Users/dtdoering/3 Code/Data Analysis/GrowthCurveAnalysis_CSV.r
/Users/dtdoering/3 Code/Data Analysis/GrowthCurveAnalysis_DD.R
/Users/dtdoering/3 Code/Data Analysis/GrowthCurveAnalysis_DD2.R
